html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f6f9;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #333;
}


.container {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  border-radius: 0;
  padding: 30px 60px;
}

h1 {
  text-align: center;
  color: #263e90;
  margin-bottom: 25px;
}

.search-bar input {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

/* Buttons */
button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.btn-add {
  background-color: #28a745;
  color: white;
}

.btn-edit {
  background-color: #007bff;
  color: white;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

button:hover {
  opacity: 0.9;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  background-color: #263e90;
  color: white;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal Box */
.modal-content {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 340px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-content h4 {
  text-align: center;
  color: #263e90;
  margin-bottom: 15px;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}
